# Virtual Environment
.venv/

# Build outputs
build_output/

# FFmpeg binaries and libraries
ffmpeg-master-latest-win64-gpl-shared/
ffmpeg-master-latest-win64-gpl-shared.zip
ffmpeg.exe
ffprobe.exe

# Setup executable
YoutubeConverter_WINDOWS_1.0_setup.exe 
YoutubeConverter_WINDOWS_1.5.0_setup.exe